VITE_FIREBASE_API_KEY=AIzaSyCgxRA7u8Ar82NNKp-KjOpU-NN0sgEf3yU
VITE_FIREBASE_AUTH_DOMAIN=ytreinamentovisual-595dd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=treinamentovisual-595dd
VITE_FIREBASE_STORAGE_BUCKET=treinamentovisual-595dd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=37204732332
VITE_FIREBASE_APP_ID=1:37204732332:web:743dafd60db109b9a7f209
